:root {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}


/* For dark mode */
:root[data-mantine-color-scheme='dark'] {
  --mantine-color-body: #282828 !important;
}

body {
  min-width: 20rem;
  min-height: 20rem;
  margin: 0;
  padding: 0;
}
